head { 
}

body {
	background-image: url(HS_75.jpg);
	background-size: cover;

}
h1 {
	color: #ffdb00;
	font-size: 60px;
	text-align: center;
	margin: 0 auto;
	font-family: "Pacifico";
	text-shadow: 0 0 7px #333;
	

}
table {
	font-family: "Pacifico" "Courier New" "Times New Roman";
	background: black;
	color: white;
	width: 400px;
	margin: 0 auto;
	border: 2px solid white;
	font-size: 30px;
	padding: 20px 0 20px 20px;
}

h2 {
	text-align: center;
	color: #ffdb00;
	text-shadow: 0 0 8px #333;
	font-family: "Pacifico"
}
.instafeed-container{
	text-align: center;
	margin-top: 20px;
	

}

#instafeed {
	display: inline-block;
	border: 2px solid black;
}

#instafeed img {
	vertical-align: bottom;
}
